.singleProductPage{
    width: 100%;
    background-color: white;
}
.flexDiv{
    padding-top: 5%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.flexDiv img{
    margin-right: 200px;
    width: 507.756px;
    height: 701.125px;
}
.singleProduct{
    width: 300px;
}
.singleInfo{
    padding-top: 50px;
    align-items: flex-start;
}
.singleInfo h1{
    color: var(--background-color, #000);
    font-family: Montserrat;
    font-size: 25.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.singleInfo p{
    color: #5B5B5B;
    padding-top: 13px;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.singleInfo h2{
    color: var(--background-color, #000);
    padding-top: 32px;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.singleInfo h4{
    color: var(--grey-2, #404040);
    padding-top: 15px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sizeGuide{
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    width: 336px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--accent-collor, #A9A9A9);
}
.sizeGuide h1{
    color: var(--grey-2, #404040);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.done{
    margin-top: 40px;
    display: flex;
    width: 324px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

    flex-shrink: 0;
    border: 1px solid var(--accent-collor, #A9A9A9);
    background: var(--background-color, #000);
}
.wish{
    display: flex;
    width: 324px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--accent-collor, #A9A9A9);
    background: #FFF;
    margin-top: 20px;
    transition: 0.2s;
}
.wish:hover{
    width: 329px;
    height: 65px;
}
.done:hover{
    width: 329px;
    height: 65px;
}
.wish h1{
    color: var(--grey-2, #404040);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.buy{
    display: flex;
    margin-top: 20px;
    width: 324px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--accent-collor, #A9A9A9);
    background: #FFF;
    flex-shrink: 0;
    transition: 0.2s;
}
.buy:hover{
    width: 329px;
    height: 65px;
}
.buy h1{
    color: var(--grey-2, #404040);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.free{
    color: #000;
    margin-top: 50px;
    margin-left: 30px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}