
.cart{
  background-color: white;
}
.cart-heading{
  padding-left: 32.5px;
  padding-top: 22.5px;
}
.cart-heading h1{
  color: #000;
  font-family: Montserrat;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cartItem{
  width: 98%;
  margin-left: 1%;
  border-top: 1px solid black;
}
.removeItem{
  width: 90%;
  margin-left: 5%;
  margin-top: 2.5%;
}
.removeItem svg{
  float: right;
}
.item-info{
  width: 95%;
  margin-left: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-image img{
  width: 190.111px;
  height: 270px;
}
.item-name h1{
  color: var(--background-color, #000);
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.item-name h3{
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item-price h1{
  color: var(--background-color, #000);
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.item-price h2{
  color: #282828;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item-quantity h1{
  color: var(--background-color, #000);
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}