.catalog{
    width: 100%;
    background-color: white;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.categories h1{
    margin-bottom: 15px;
    color: var(--background-color, #000);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.categoriesLi{
    display: flex;
    width: 275px;
    justify-content: space-between;
    align-items: center;
    color: var(--background-color, #000);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}
.categoriesLi input{
    width: 21px;
    height: 21px;
}
.meore{
    margin-top: 25px;
}